version: 2.1
jobs:
  build:

    docker:
      - image: docker:dind

    environment:
      TERM: dumb

    steps:

      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
      - checkout
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"

      - run: cat /etc/os-release
      - run:
          name: Install uv prerequisites
          command: apk add curl
      - run:
          name: Install uv
          command: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            source $HOME/.local/bin/env
            echo ${PATH}
            which uv
            export PATH=${HOME}/.local/bin:${PATH}
      - run: PATH=${HOME}/.local/bin:${PATH} which uv
      - run:
          name: Install dependencies for "make style-check"
          command: apk add grep make shellcheck shfmt yamllint

      - run: PATH=${HOME}/.local/bin:${PATH} uv pip install pyjson5

      - run: PATH=${HOME}/.local/bin:${PATH} make showvars
      - run: PATH=${HOME}/.local/bin:${PATH} make

workflows:
  build:
    jobs:
      - build
