version: 2.1
jobs:
  build:

    docker:
      - image: cimg/python:3.14

    environment:
      TERM: dumb

    steps:

      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
      - checkout
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"

      - run: sudo apt update
      - run:
          name: Install dependencies via apt
          command: sudo apt -y install shfmt shellcheck devscripts
      - run:
          name: Install markdownlint
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm install node
            node -v
            npm -v
            npm -y install markdownlint-cli2 --global
      - run:
          name: Install uv
          command: curl -LsSf https://astral.sh/uv/install.sh | sh

      - run: make

workflows:
  build:
    jobs:
      - build
